@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Sansita:ital@0;1&display=swap');


$primaria: #5CEA61;
$secundaria: #77279D;
$destaque: #B5EB50;
$titulo: 'Sansita';
$texto: 'Roboto';
$texto_tamanho:1.2rem;
$titulo_tamanho:1.4rem;
