/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/deslogado.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Sansita:ital@0;1&display=swap");
.deslogado_formulario__spetj {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  display: flex;
  flex-direction: column;
}
.deslogado_formulario_icone__GHsT4 {
  color: #77279D;
  font-size: 12rem;
}

.deslogado_referencia__s83uw {
  position: relative;
}
